/* --- Footer Styles --- */
#footer{
     position: relative;
	height:250px;
	background-image: url(../img/bg_footer.png);
	background-position: center right;
	background-repeat:no-repeat;
	.navf {
          ul {
               position:absolute;
               left:15%;
               li{
                    position:relative;
                    display:inline-block;
                    margin:1.5em;
                    a {
                         color: $footerNavLink;
                         font-family:"Arimo";
                         font-size: 1.3em;
                    }
                    ul {
                         display: block;
                         li {
                              display:block;
                              padding:0;
                              font-family:"Arimo";
                              font-size: .8em;
                              position:relative;
                              left: -4.5em;
                              width:150%;
                              color: $headerPrimary;
                         }             
                    }
               }
          }
	}
}
.footer-bar{
	background-color: $barColor;
	width:100%;
	position:relative;
	.copyright{
		float:left;
		font-family: "Arimo";
		font-size: .8em;
		color:$white;
		margin-top:1.5em;
	}
	.zeekee{
		position:relative;
		float:right;
		top:-2em;
	}
}
