/* --- Header Styles --- */
.logo{
	img{
		margin-top: 1em;
	}

	h1 {
		font-family:"Neucha";
		font-size: 1.4em;
		color: $headerPrimary;
		margin-top:1em;
		letter-spacing:.02em;
	
		#header-color {
			color: $headerSecondary;
		}
		small {
			font-size:.9em;
			color: $headerPrimary;
			letter-spacing:.05em;
		}
	}
}
.social{ 
    height:auto;
    img{
	   display: inline;
	   position:relative;
	   top: 2.5em;
    }
}
.nav{
	position:relative;
	text-align:center;
	margin-top: .5em;
     margin-bottom: .5em;
	height:1.5em;
     float: none;
     width:100%;
	ul {
		color: $headerPrimary;
		font-family: "Adelle";
		font-size:.9em;
		left:10em;
		bottom:-1em;
		background-color: $white;

		li {
               position: relative;
               float: left;
			display:inline;
			margin-right: 3.5em;
			text-transform:uppercase;
			a {
				color: $navLink;
                    padding-bottom:2em;
			}
			a:hover {
				color:$linkColor;
                    ul{
                    display: block;
                    }
			}
			a:active {
				padding-top:1em;
				border-top: 2px solid $linkColor;
			}
			ul{
                    position:absolute;
				display:none;
                    left: -3em;
				top: 2em;
				z-index:12;
				li{
                         position:relative;
					display:block;
                         width:100%;
                         font-size: .8em;
					padding: 1em 3em;
					background-color:$white;
				}
			}
		}
		
		li:hover ul {
			display:block;
			li:hover > ul {
				display: block;
				background-color: $white;
			}
		}
          li:hover


	}
}
.divider{
	height:3px;
	width:100%;
	background-color: $headerPrimary;
}
@media (max-width: 1024px) {
    .logo{
        text-align: center;
    }
    .social{
        text-align:center;
        img {
            top:1em;
        }
    }
}
