/* ---- Homepage Styles ---- */
#homepage_main{
	position:relative;
	background: url("../img/bg_main.jpg") no-repeat;
	background-position: center center;
	height:980px;
	width:100%;

	#info-bar {
		position:absolute;
		width:100%;
		bottom:0;
		left:0;
		background: rgba(0,0,0,.5);
	}
	.announcements{
		margin-top: 1em;

		h2{
			font-family: "Neucha";
			font-size: 2em;
			color: $white;
		}
		a {
			font-family: "Arimo";
			font-size: 1.1em;
			color: $linkColor
		}
		p {
			font-family: "Arimo";
			font-size: .9em;
			color: $white;
		}
	}
	.register {
		margin-top: 1em;
		h2{
			font-family: "Neucha";
			font-size: 2em;
			color: $white;
		}
		p {
			font-family: "Arimo";
			font-size: .9em;
			color: $white;
		}
		input[type="email"]{
			display:inline;
			font-family: "Arimo";
			background:rgba(0,0,0,.8);
			color: $barColor;
			border:none;
			width:75%;
			height: 2em;
		}
		input[type="submit"]{
			font-family: "Arimo";
			background: $barColor;
			color: $white;
			width:20%;
			height:2em;
			border: none;
			
		}
	}
	.newsletter {
		width:100%;
		text-align:center;
		padding:2em;

		a {
			font-family: "Arimo";
			font-size: 1em;
			color: $barColor;
			margin-top: 1em;
			line-height:1.3em;
			letter-spacing:.03em;
		}
	}
}
