@import "compass";
@import "settings";

/* ------ HEADER STYLES----------------------*/

.logo{
	img{
		margin-top: 1em;
	}

	h1 {
		font-family:"Neucha";
		font-size: 1.4em;
		color: $headerPrimary;
		margin-top:1em;
		letter-spacing:.02em;
	
		#header-color {
			color: $headerSecondary;
		}
		small {
			font-size:.9em;
			color: $headerPrimary;
			letter-spacing:.05em;
		}
	}
}
.social{ 
    height:auto;
    img{
	   display: inline;
	   position:relative;
	   top: 2.5em;
	   &:hover{
	   	border:4px solid $barColor;
	   }
    }
}

.nav{
	position:relative;
	text-align:center;
	margin-top: .5em;
     margin-bottom: .5em;
	height:1.5em;
     float: none;
     width:100%;
	ul {
		color: $headerPrimary;
		font-family: "Adelle";
		font-size:.9em;
		left:10em;
		bottom:-1em;
		background-color: $white;

		li {
               position: relative;
               float: left;
			display:inline;
			margin-right: 3.5em;
			text-transform:uppercase;
			a {
				color: $navLink;
                    padding-bottom:2em;
			}
			a:hover {
				color:$linkColor;
                    ul{
                    display: block;
                    }
			}
			a:active {
				padding-top:1em;
				border-top: 2px solid $linkColor;
			}
			ul{
                    position:absolute;
				display:none;
                    left: -3em;
				top: 2em;
				z-index:12;
				li{
                         position:relative;
					display:block;
                         width:100%;
                         font-size: .8em;
					padding: 1em 3em;
					background-color:$white;
				}
			}
		}
		
		li:hover ul {
			display:block;
			li:hover > ul {
				display: block;
				background-color: $white;
			}
		}
          li:hover


	}
}
.divider{
	height:3px;
	width:100%;
	background-color: $headerPrimary;
}


/* ------ MAIN CONTENT STYLES----------------------*/

#homepage_main{
	position:relative;
	height:980px;
	width:100%;

	.slider{
		img{
			width: 100%;
			height: 980px;
		}
	}

	#info-bar {
		position:absolute;
		width:100%;
		bottom:0;
		left:0;
		background: rgba(0,0,0,.7);
	}
	.announcements{
		margin-top: 1em;

		h2{
			font-family: "Neucha";
			font-size: 2em;
			color: $white;
		}
		a {
			font-family: "Arimo";
			font-size: 1.1em;
			color: lighten($linkColor, 10%);
		}
		li {
			font-family: "Arimo";
			font-size: .9em;
			color: $white;
			list-style-type: none;
			padding-bottom: 0.8em;
		}
	}
	.register {
		margin-top: 1em;
		h2{
			font-family: "Neucha";
			font-size: 2em;
			color: $white;
		}
		p {
			font-family: "Arimo";
			font-size: .9em;
			color: $white;
		}
		input[type="email"]{
			display:inline;
			font-family: "Arimo";
			background:rgba(0,0,0,.8);
			color: $barColor;
			border:none;
			width:75%;
			height: 2em;
		}
		input[type="submit"]{
			font-family: "Arimo";
			background: $barColor;
			color: $white;
			width:20%;
			height:2em;
			border: none;
			
		}
	}
	.newsletter {
		width:100%;
		text-align:center;
		padding:2em;

		a {
			font-family: "Arimo";
			font-size: 1em;
			color: $barColor;
			margin-top: 1em;
			line-height:1.3em;
			letter-spacing:.03em;
		}
	}
}

/* ------ FOOTER STYLES----------------------*/

#footer{
    position: relative;
	height:70px;
	// background-image: url(../img/bg_footer.png);
	// background-position: center right;
	// background-repeat:no-repeat;
	overflow:hidden;
	-webkit-transition: height 0.5s linear;
  	-moz-transition: height 0.5s linear;
  	transition: height 0.5s linear;
	.navf {
          ul {
               position:absolute;
               left:12%;
               li{
                    position:relative;
                    display:inline-block;
                    margin:1.5em;
                    a {
                         color: $footerNavLink;
                         font-family:"Arimo";
                         font-size: 1.3em;
                    }
                    ul {
                         display: block;
                         li {
                              display:block;
                              padding:0;
                              font-family:"Arimo"; 
                              font-size: 0.7em;
                              position:relative;
                              left: -4.5em;
                              line-height: 0.4em;
                              width:150%;
                              color: $headerPrimary;
                              a{
                              	color: #008cba;
                              }
                              a:hover {
								color:$linkColor;
                         	} 
                         }
                    }
               }
          }
	}
}

#footer{
	margin-top: 1em;
}
#footer:hover{
	height: 200px;
}

.footer-bar{
	background-color: $barColor;
	width:100%;
	position:relative;
	.copyright{
		float:left;
		font-family: "Arimo";
		font-size: .8em;
		color:$white;
		margin-top:2.5em;
	}
	.zeekee{
		position:relative;
		float:right;
		top:-2em;
	}
}

/* ---- SUBPAGE ---- */

#sub_main{
	margin-top:2em;
	h1 {
		font-family: "Arimo";
		font-size: 1.6em;
		color:$subheadColor;

	}
	h2 {
		font-family: "Arimo";
		font-size:1em;
		color: $subheadColor;
	}
	p {
		font-family: "Arimo";
		font-size:.8em;
		color: $headerPrimary;
	}
	ul{
		list-style: none outside none;
		color: $headerPrimary;
		margin: 0;
		font-size: .8em;
	}
	.contact-box {
		background-color: rgb(237,236,225);
		border: 1px solid rgb(216,215,202);
		border-radius: .5em;
		padding: .5em;
		margin-bottom: 2em;
	}
}
/* ------ TYPOGRAPHY OVERRIDES----------------------*/


/* ------ GENERAL STYLES----------------------*/
table{
	tr td{
		border:1px solid rgb(216,215,202);
		color: darken(#99917f, 15%);
		strong{
			color: #dd7874;
		}
	}
}



/* ------ MEDIA QUERIEEES----------------------*/

@media (max-width: 600px) {
    .logo{
        text-align: center;
    }
    .social{
        text-align:center;
        img{
    		top: 1em;
    	}
    }

    #homepage_main{
	position:relative;
	height:280px;
	width:100%;

	.slider{
		img{
			width: 100%;
			height: 280px;
		}
	}
}

#info-bar {
		// position:absolute;
		width:100%;
		// bottom:0;
		// left:0;
		background: black;
}

.announcements{
		margin-top: 1em;

		h2{
			font-family: "Neucha";
			font-size: 1.3em;
			color: $white;
		}
		a {
			font-family: "Arimo";
			font-size: 1.4em;
			color: lighten($linkColor, 10%);
		}
		li {
			font-family: "Arimo";
			font-size: 0.7em;
			color: $white;
			list-style-type: none;
			padding-bottom: 0.8em;
		}
	}

	.register {
		margin-top: 1em;
		h2{
			font-family: "Neucha";
			font-size: 1.3em;
			color: $white;
		}
		p {
			font-family: "Arimo";
			font-size: 0.7em;
			color: $white;
		}
		input[type="email"]{
			display:inline;
			font-family: "Arimo";
			background:rgba(0,0,0,.8);
			color: $barColor;
			border:none;
			width:75%;
			height: 2em;
		}
		input[type="submit"]{
			font-family: "Arimo";
			background: $barColor;
			color: $white;
			width:25%;
			height:2em;
			border: none;
			
		}
	}
	.newsletter {
		width:100%;
		text-align:center;
		padding:0.6em;

		a {
			font-family: "Arimo";
			font-size: 0.8em;
			color: $barColor;
			margin-top: 0.5em;
			line-height:1.3em;
			letter-spacing:.03em;
		}
	}

.footer-bar {	
	.zeekee{
		position:relative;
		float:right;
		top:1.6em;
	}

	body{
		overflow-x: hidden;
	}

	.copyright{
		float:left;
		font-family: "Arimo";
		font-size: .1em;
		color:$white;
		margin-top:2em;
	}
}
}

@media #{$medium-only}{
	#homepage_main{
		position:relative;
		height:600px;
		width:100%;

		.slider{
			img{
				width: 100%;
				height: 600px;
			}
		}
		.newsletter {
		width:100%;
		text-align:center;
		padding:1em;
		padding-top: 2em;

		a {
			font-family: "Arimo";
			font-size: 0.8em;
			color: $barColor;
			margin-top: 1em;
			line-height:1.3em;
			letter-spacing:.03em;
		}
	}
}

	body{
		overflow-x: hidden;
	}

	.logo{
        text-align: center;
    }
    .social{
    	img{
    		top: 1em;
    	}
    }

    .footer-bar	.zeekee{
		position:relative;
		float:right;
		top:2em;
	}
}