/* ---- Subpage Styles ---- */

#sub_main{
	margin-top:2em;
	h1 {
		font-family: "Arimo";
		font-size: 1.6em;
		color:$subheadColor;

	}
	h2 {
		font-family: "Arimo";
		font-size:1em;
		color: $subheadColor;
	}
	p {
		font-family: "Arimo";
		font-size:.8em;
		color: $headerPrimary;
	}
	ul{
		list-style: none outside none;
		color: $headerPrimary;
		margin: 0;
		font-size: .8em;
	}
	.contact-box {
		background-color: rgb(237,236,225);
		border: 1px solid rgb(216,215,202);
		border-radius: .5em;
		padding: .5em;
	}
}
